/* ImageGallery.css */
.image-gallery {
  display: flex;
  justify-content: space-between;
  margin: 20px; /* Встановіть бажану відстань між зображеннями тут */
}

.image-link {
  text-decoration: none;
  width: 350px; /* Ширина вашого зображення */
  height: 175px; /* Висота вашого зображення */
}

.image-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
